body {
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 0.8rem;
}

.header-info {
    height: 200px;
    width: 100%;
    display: flex;
    background-image: url("./img/tc0007-v1.jpg");
    background-size: cover;
    align-items: flex-end;
}

.info {
    display: flex;
    background-color: rgba(255, 255, 255, .7);
    padding: 10px 5px;
    height: 30%;

}

.info-area {
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
}

div > span {
    color: #8e0c0c;
    font-weight: bold;
}

.button {
    display: block;
    background-color: #8e0c0c;
    color: white;
    width: 80px;
    height: 20px;
    margin-left: 10px;
    border: 0;
    text-align: center;
    padding-top: 5px;
    text-decoration: none;
}

.button:hover {
    background-color: rgba(142, 12, 12, .5);
}

.line {
    width: 100%;
    height: 10px;
    background-color: black;
}

main {
    display: flex;
    width: 100%;
}

section {
    margin-right: 25px;
    width: 80%;
    height: 100%;
}

article {
    padding: 20px 0 10px 5px;
}

.article-title {
    font-size: 1.4rem;
    color: #8e0c0c;
    font-weight: bold;
}

.article-subtitle {
    font-style: italic;
    color: gray;
    padding-bottom: 10px;
}

.article-info {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
    height: 100%;
}

@media screen and (max-width: 900px) {
    .article-info {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    img {
        padding: 10px;
    }

    .article-position {
        padding: 0;
        width: 100%;
    }
}

img {
    width: 100%;

}

.article-position {
    padding: 10px;
    text-align: justify;
    height: 100%;
}

.article-panel {
    display: flex;
    background-color: #8e0c0c;
    color: white;
    height: 25px;
    align-items: baseline;
}

.article-panel-button {
    background-color: #8e0c0c;
    color: white;
    height: 20px;
    border: 0;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0 5px;
    cursor: pointer;
}

.login-area {
    background-color: #e9decc;
    padding: 25px;
    width: 20%;
}

.form-title {
    color: #8e0c0c;
    font-size: 0.9rem;
    padding-bottom: 10px;
}

.form-area {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

label {
    padding-bottom: 5px;
}

input {
    height: 20px;
    width: 100%;
}

.input-hint {
    font-size: inherit;
    padding-top: 10px;
}

.login-button {
    margin: 10px auto;
}
